# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
dev-dist/
build/

# Environment variables (otomatis cover root & server/.env)
.env*
!.env.example

# Uploads & User files (root & folder data)
uploads/
data/uploads/
data/*.sqlite
data/*.sqlite-*

# Editor & System files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sf2
public/*.sf2